.item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e7e0ec;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6750a4;
  padding: 5px 10px;
}

.item-container h2 {
  font-size: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  color: rgb(11, 141, 22);
}

.trash {
  color: #b3261e;
}

.icon > *{
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
}
